{% extends "layouts/base.html" %}

{% load static %}

{% block title %}Pagar{% endblock %}

{% block content %}
    <h1 class="text-md-start text-center">Checkout</h1>
    <div class="row">
        <div class="col-12 col-md-8 mb-3">
            <div class="card mb-3">
                <h5 class="card-header">Datos de facturación</h5>
                <div class="card-body">
                    <form class="needs-validation" method="post" id="datos-facturacion" novalidate>
                        <div class="row">
                            <div class="mb-3 col-12 col-md-6">
                                <label for="nombre" class="form-label">Nombre</label>
                                <input type="text" class="form-control" id="nombre" name="nombre" placeholder="Nombre" required>
                            </div>
                            <div class="mb-3 col-12 col-md-6">
                                <label for="apellido" class="form-label">Apellidos</label>
                                <input type="text" class="form-control" id="apellido" name="apellidos" placeholder="Apellidos" required>
                            </div>
                        </div>
                        <div class="mb-3">
                            <label for="correo" class="form-label">Correo electrónico</label>
                            <input type="email" class="form-control" id="correo" name="correo" placeholder="Dirección de correo electrónico..." required>
                        </div>
                        <div class="row">
                            <div class="mb-3 col-12 col-md-6">
                                <label for="direccion" class="form-label">Dirección</label>
                                <input type="text" class="form-control" id="direccion" name="direccion"
                                    placeholder="Calle 123 Comuna Ciudad" required>
                                <div id="map"></div>
                            </div>
                            <div class="mb-3 col-12 col-md-6">
                                <label for="direccion2" class="form-label">Dirección 2 (Opcional)</label>
                                <input type="text" class="form-control" id="direccion2" name="direccion2"
                                    placeholder="Departamento, casa, etc.">
                            </div>
                        </div>
                        <div class="mb-3">
                            <label for="telefono" class="form-label">Teléfono</label>
                            <div class="input-group has-validation">
                                <span class="input-group-text">+56</span>
                                <input type="tel" class="form-control" id="telefono" name="telefono"
                                    maxlength="9" placeholder="Nro. de teléfono..." required>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
            <div class="card mb-3">
                <h5 class="card-header">Método de pago</h5>
                <div class="card-body">
                    <form class="needs-validation" method="post" id="metodo-pago" novalidate>
                        <div class="mb-3">
                            <label for="tarjeta" class="form-label">Número de tarjeta</label>
                            <input type="text" class="form-control" id="tarjeta" name="tarjeta"
                                placeholder="Nro. de la tarjeta..." required>
                        </div>
                        <div class="row">
                            <div class="mb-3 col-12 col-md-6">
                                <label for="fecha-expiracion" class="form-label">Fecha de expiración</label>
                                <input type="text" class="form-control" id="fecha-expiracion"
                                    name="fecha-expiracion" placeholder="MM/AA" maxlength="5" required>
                            </div>
                            <div class="mb-3 col-12 col-md-6">
                                <label for="cvv" class="form-label">CVV</label>
                                <input type="password" class="form-control" id="cvv" name="cvv"
                                    placeholder="123" maxlength="3" required>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
        <div class="col-12 col-md-4 mb-3">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">Resumen de la compra</h5>
                    <p class="card-text">Productos: <span id="cantidad-productos">0</span></p>
                    <p class="card-text">Total: $<span id="total">0.00</span></p>
                    <button type="submit" class="btn btn-outline-primary" id="boton-pagar">Pagar</button>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block scripts %}
        <!-- llamado a google maps -->
    <script
        src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDXNCKw3k07Z0QLw2GOuPjajvS0psHVCX0&region=CL&language=es&libraries=places&callback=initAutocomplete"
        defer></script>
    <!-- Script de google maps -->
    <script src="{% static 'js/google.maps.script.js'%}"></script>
{% endblock %}