{% extends "layouts/checkout base.html" %}

{% load static %}
{% load crispy_forms_tags %}

{% block title %}Pagar{% endblock %}

{% block content %}
    {% for message in messages %}
    <div class="alert {% if message.tags %}alert-{{message.tags}}{% endif %} alert-dismissible fade show" role="alert">
        <strong>
            {% if message.tags == 'success' %}
                <i class="bi bi-info-circle-fill"></i>
            {% else %}
                <i class="bi bi-exclamation-triangle-fill"></i>
            {% endif %}
        </strong> {{ message }}
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
    </div>
    {% endfor %}
    <h1 class="text-md-start text-center">Checkout</h1>
    <div class="row">
        <div class="col-12 col-md-8 mb-3">
            <div class="card mb-3">
                <h5 class="card-header">Datos</h5>
                <div class="card-body">
                    {% crispy form %}
                </div>
            </div>
        </div>
        <div class="col-12 col-md-4 mb-3">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">Resumen de la compra</h5>
                    <p class="card-text">Productos: <span id="cantidad-productos">{{ carrito.cantidad }}</span></p>
                    <p class="card-text">Total: $<span id="total">{{ carrito.total }}</span></p>
                    <button type="submit" form="form-pedido" class="btn btn-outline-primary" id="boton-pagar">Pagar</button>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
