{% extends "layouts/base.html" %}

{% load static %}

{% block title %}Inicio{% endblock %}

{% block content %}
    {% for message in messages %}
        <div class="alert {% if message.tags %}alert-{{message.tags}}{% endif %} alert-dismissible fade show" role="alert">
            <strong>
                {% if message.tags == 'success' %}
                    <i class="bi bi-info-circle-fill"></i>
                {% else %}
                    <i class="bi bi-exclamation-triangle-fill"></i>
                {% endif %}
            </strong> {{ message }}
            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
        </div>
    {% endfor %}
    <div class="row">
        <div class="col-12 col-md-8 mb-3">
            <h2>Destacado</h2>
            <div id="carouselId" class="carousel slide" data-bs-ride="carousel">
                <ul class="carousel-indicators">
                    <button data-bs-target="#carouselId" data-bs-slide-to="0" class="active" aria-current="true"
                        aria-label="First slide"></button>
                    <button data-bs-target="#carouselId" data-bs-slide-to="1" aria-label="Second slide"></button>
                    <button data-bs-target="#carouselId" data-bs-slide-to="2" aria-label="Third slide"></button>
                </ul>
                <div class="carousel-inner carrusel mh-100 border rounded" role="listbox">
                    <div class="carousel-item active">
                        <img src="{% static 'img/EN_Banner_ASUS_Banner.jpg'%}" class="w-100 d-block"
                            alt="First slide" />
                    </div>
                    <div class="carousel-item">
                        <img src="{% static 'img/rtx 3070 ti.jpg'%}" class="w-100 d-block"
                            alt="Second slide" />
                    </div>
                    <div class="carousel-item">
                        <img src="{% static 'img/banner blanco.jpg'%}" class="w-100 d-block"
                            alt="Third slide" />
                    </div>
                </div>
                <button class="carousel-control-prev" type="button" data-bs-target="#carouselId" data-bs-slide="prev">
                    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                    <span class="visually-hidden">Previous</span>
                </button>
                <button class="carousel-control-next" type="button" data-bs-target="#carouselId" data-bs-slide="next">
                    <span class="carousel-control-next-icon" aria-hidden="true"></span>
                    <span class="visually-hidden">Next</span>
                </button>
            </div>
        </div>
        <div class="col-12 col-md-4 mb-3">
            <h2>Oferta</h2>
            <a href="{% url "productos" "SSD" %}"><img src="{% static 'img/banner m_2.jpeg'%}" class="w-100 mb-3" alt="SSDs"></a>
            <a href="{% url "productos" "Placa Base" %}"><img src="{% static 'img/motherboard banner.jpg'%}" class="w-100 mb-3" alt="motherboards"></a>
        </div>
    </div>
    <div class="row">
        <h2>Últimos agregados</h2>
        <div class="overflow-x-auto">
            <div class="d-flex gap-3">
                {% for producto in productos %}
                    <div class="card col-8 col-md-6 col-lg-3">
                        <img class="card-img-top p-2 w-100 rounded-top object-fit-scale object-fit-lg-contain" src="{{ producto.imagen.url }}" alt="Title" />
                        <div class="card-body">
                            <h4 class="card-title">{{ producto.nombre }}</h4>
                        </div>
                        <div class="card-footer">
                            <p class="card-text fw-bold">{{ producto.tipo }}</p>
                            <div class="d-flex justify-content-between">
                                <p class="fs-4 fw-medium">Precio:</p>
                                <p class="fs-4 fw-medium">${{ producto.precio }}</p>
                            </div>
                            <a href="{% url "producto" producto.tipo producto.id  %}" class="btn btn-outline-info d-block">Ver más</a>
                        </div>
                    </div>
                {% endfor %}
            </div>
        </div>
    </div>
{% endblock %}