{% extends "layouts/base.html" %}

{% load crispy_forms_tags %}

{% block title %}Iniciar Sesión{% endblock %}

{% block content %}
    <div class="row">
        <div class="col-12 col-md-6 mx-auto">
            <div class="card">
                <div class="card-header text-center">
                    <h3>Iniciar Sesión</h3>
                </div>
                {% crispy form %}
                <div class="card-footer">
                    <p>¿No tienes cuenta? <a href="{% url "registro" %}">Registrarse</a></p>
                </div>
            </div>
        </div>
    </div>
{% endblock %}