{% extends "layouts/base.html" %}

{% load static %}

{% block title %}{{ request.user.get_full_name }}{% endblock %}

{% block content %}
    <h1>Perfil</h1>
    <div class="d-flex flex-column flex-md-row gap-md-3">
        <div class="card col-12 col-md-4 mb-3">
            <img class="rounded-circle border border-4 m-3" src="{% static 'img/blank-profile-picture.png'%}" alt="Foto de perfil" />
            <div class="card-body">
                <h4 class="card-title fw-bolder">{{ request.user.get_full_name }}</h4>
            </div>
        </div>
        <div class="card col-12 col-md-8 mb-3">
            <form class="card-body needs-validation" method="post" novalidate>
                <div class="row">
                    <div class="mb-3 col-12 col-md-6">
                        <label for="nombre" class="form-label">Nombre</label>
                        <input type="text" class="form-control" id="nombre" name="nombre" value="{{ request.user.nombre }}" required>
                    </div>
                    <div class="mb-3 col-12 col-md-6">
                        <label for="apellido" class="form-label">Apellido</label>
                        <input type="text" class="form-control" id="apellido" name="apellido" value="{{ request.user.apellido }}" required>
                    </div>
                </div>
                <div class="row">
                    <div class="mb-3 col-12 col-md-6">
                        <label for="rutPerfil" class="form-label">Rut</label>
                        <input type="text" class="form-control" id="rutPerfil" name="rut" value="{{ request.user.rut }}" maxlength="9" required>
                    </div>
                    <div class="mb-3 col-12 col-md-6">
                        <label for="correo" class="form-label">Correo electrónico</label>
                        <input type="email" class="form-control" id="correo" name="correo" value="{{ request.user.correo }}" required>
                    </div>
                </div>
                <div class="row">
                    <div class="mb-3 col-12 col-md-6">
                        <label for="direccion1" class="form-label">Dirección</label>
                        <input type="text" class="form-control" id="direccion1" name="direccion1" value="{{ request.user.direccion1 }}" required>
                        <div id="map"></div>
                    </div>
                    <div class="mb-3 col-12 col-md-6">
                        <label for="telefono" class="form-label">Teléfono</label>
                        <input type="tel" class="form-control" id="telefono" name="telefono" value="{{ request.user.telefono }}" required>
                    </div>
                </div>
                <button class="btn btn-primary" type="submit">Guardar</button>
            </form>
        </div>
    </div>
    <h2>Historial de compras</h2>
    <div class="table-responsive">
        <table class="table table-striped table-hover">
            <thead>
                <tr>
                    <th scope="col">Fecha del pedido</th>
                    <th scope="col">Entregado</th>
                    <th scope="col">Producto</th>
                    <th scope="col">Cantidad</th>
                    <th scope="col">Precio</th>
                    <th scope="col">Estado</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>01/01/2021</td>
                    <td>01/02/2021</td>
                    <td>RTX 3050</td>
                    <td>1</td>
                    <td>$0.00</td>
                    <td>Procesando</td>
                </tr>
                <tr>
                    <td>01/01/2021</td>
                    <td>01/02/2021</td>
                    <td>RTX 3050</td>
                    <td>1</td>
                    <td>$0.00</td>
                    <td>En transito</td>
                </tr>
                <tr>
                    <td>01/01/2021</td>
                    <td>01/02/2021</td>
                    <td>RTX 3050</td>
                    <td>1</td>
                    <td>$0.00</td>
                    <td>En transito</td>
                </tr>
                <tr>
                    <td>01/01/2021</td>
                    <td>01/02/2021</td>
                    <td>RTX 3050</td>
                    <td>1</td>
                    <td>$0.00</td>
                    <td>Entregado</td>
                </tr>
                <tr>
                    <td>01/01/2021</td>
                    <td>01/02/2021</td>
                    <td>RTX 3050</td>
                    <td>1</td>
                    <td>$0.00</td>
                    <td>Entregado</td>
                </tr>
            </tbody>
        </table>
    </div>
{% endblock %}

{% block scripts %}
    <!-- llamado a google maps -->
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDXNCKw3k07Z0QLw2GOuPjajvS0psHVCX0&region=CL&language=es&libraries=places&callback=initAutocomplete"
    defer></script>
    <!-- Script de google maps -->
    <script src="{% static 'js/google.maps.script.js'%}"></script>
{% endblock %}