{% load static %}

<div class="container-fluid bg-dark text-light text-justify p-3">
    <div class="row">
        <div class="col-12 col-md-4 mx-auto p-3">
            <div class="d-flex">
                <img src="{% static 'img/torre-de-pc.png'%}" height="30" alt="Logo">
                <h4 class="d-block">TechMasterXP</h4>
            </div>
            <p>¿Quiénes somos?</p>
            <p>Somos una tienda de componentes de pc en la que podrás encontrar todos los componentes para tu pc al mejor precio.</p>
        </div>
        <div class="col-12 col-md-2 col-lg-4 mx-auto p-3">
            <h4>Enlaces</h4>
            <ul>
                <li><a href="{% url "index" %}">Inicio</a></li>
                <li><a href="{% url "registro" %}">Registro</a></li>
            </ul>
        </div>
        <div class="col-12 col-md-4 mx-auto p-3">
            <h4>Contacto</h4>
            <p><i class="bi bi-envelope-at"></i> Correo: <a href="mailto:contactoTechmasterStore@gmail.com" class="text-break">contactoTechmasterStore@gmail.com</a></p>
            <p><i class="bi bi-telephone"></i> Teléfono: <a href="tel:+525555555555">55 5555 5555</a></p>
        </div>
    </div>
</div>